<Jumbo>
  <h2>Par Riga Cafes</h2>
  <p>
    Riga Cafes ir taisīts izmantojot Ember, ar mērķi atrādīt Latvijas Universitātes kursā "Tīmekļa programmēšana"
  </p>
  <LinkTo @route="contact" class="button">Kontakti</LinkTo>
</Jumbo>