<Jumbo>
  <h2>Kontakti</h2>
  <p>
    Riga Cafes kontakti<br>
  </p>
  <address>
    Cafe Riga HQ
    <p>
      1212 Testa adrese<br>
      Riga
    </p>
    <a href="tel:+371 12345678">+371 12345678</a><br>
    <a href="mailto:martinosmanis@gmail.com">martinosmanis@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">Par Mums</LinkTo>
</Jumbo>