<Jumbo>
  <h2>Sveicināti Riga Cafes!</h2>
  <p>Šī lapa ir izveidota atrādīšanas nolūkos kursam "Tīmekļa programmēšana"</p>
  <LinkTo @route="about" class="button">Par Mums</LinkTo>
</Jumbo>

<Cafes @cafes={{@model}} />
